<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!--                                                                     -->
    <!-- Standard Out                                                        -->
    <!--                                                                     -->
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%t] %c{2} : %m%n" />
        </layout>
    </appender>

    <!--                                                                     -->
    <!-- Rolling application log file.                                       -->
    <!--                                                                     -->
    <appender name="LogFile" class="org.apache.log4j.RollingFileAppender">
        <param name="MaxFileSize" value="5MB" />
        <param name="MaxBackupIndex" value="14" />
        <param name="File" value="${logPath}ingestion.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%t] %c{5} : %m%n" />
        </layout>
    </appender>
    
    <!--                                                                     -->
    <!-- Log file to track knitting events.                                  -->
    <!--                                                                     -->
    <appender name="DatabaseEventLogFile" class="org.apache.log4j.RollingFileAppender">
        <param name="MaxFileSize" value="5MB" />
        <param name="MaxBackupIndex" value="14" />
        <param name="File" value="${logPath}dbEvent.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%t] %c{5} : %m%n" />
        </layout>
    </appender>

    <!-- 
      Vulcan libraries.
     -->
    <category name="com.vulcan">
      <priority value="info" />
    </category>

    <!--
        Categories for:  Apache (3rd-party libraries)
    -->
    
    <category name="org.apache">
        <priority value="error" />
    </category>

    <category name="org.apache.commons">
        <priority value="error" />
    </category>

    <logger name="com.vulcan.fayve.database_event_log">
    	<level value="INFO"/>
    	<appender-ref ref="DatabaseEventLogFile"/>
    </logger>

    <!--
        Indicate root priority and appender(s)
        
        Valid values for priority are:
        debug, info, warn, error, fatal, and log
    -->
    <root>
        <level value="info"></level>
        <!--  Append to a file -->
        <appender-ref ref="LogFile" />
        
        <!--  Comment this out in production, to save some energy. -->
        <appender-ref ref="STDOUT"/>
    </root>
    
</log4j:configuration>
			