body.border {
  border-style: inset;
  border-color: red;
  border-radius: 20px;
  margin:0; 
  padding:0; 
}

.node {
  cursor: pointer;
}

.node circle.default {
  fill: #fff;
  stroke: red;
  stroke-width: 1.5px;
}

.node circle.with_extent {
  fill: #fff;
  stroke: darkorange;
  stroke-width: 2px;
}

.node circle.with_dist {
  fill: #fff;
  stroke: darkgreen;
  stroke-width: 2.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

h2 {
  color: darkBlue;
  font-style: italic;
}

table {
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    font: bold 14px"Helvetica Neue", Sans-Serif;
}

.ui-tooltip {
    padding: 10px 20px;
    border-radius: 20px;
    font: bold 18px"Helvetica Neue", Sans-Serif;
    text-align: center;
    box-shadow: 0 0 7px black;
    color: #800000;
    background-color: grey;
}

.navbar, .navbar-brand {
  min-height:32px;
  height:32px;
}

.navbar-nav > li > a {
  padding-top:5px; 
  padding-bottom:5px;
}   

         
.nav .open > a {
  background:#759ad6;
}
